.albumCard {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  width: 300px;
}

.albumCardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.albumImg {
  border-radius: 5%;
  margin: auto;
  width: 50%;
}

.musicCard {
  border: 2px solid black;
  height: 120px;
  width: 80%;
}
